@tailwind base;
@tailwind components;
@tailwind utilities;



h1, h2{
    font-family: 'Libre Baskerville';
}

body{
    font-family: 'Inter';
    overflow-x: hidden;
}

.libre{
    font-family: 'Libre Baskerville';
}

button{
    color: white;
    background-color: black;
    padding: 1rem 1.5rem;
}